@import "tailwindcss";

@theme {
  /* Colores de marca */
  --color-carbon: #0b0d0f;
  --color-carbon-soft: #14171a;
  --color-turquesa: #00d9c0;
  --color-turquesa-dim: #00a896;
  --color-humo: #a8adb4;
  --color-hueso: #f2f3f1;

  /* Tipografía */
  --font-display: var(--font-space-grotesk);
  --font-body: var(--font-inter);
}

body {
  background-color: var(--color-carbon);
  color: var(--color-hueso);
}